@using demo.Views.ViewData
@model IEnumerable<AppartmentsViewData>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>@ViewBag.Title</h1>

<script>
    $(document).ready(function () {
        $("#searchdrinks").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#drinks tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<div style="margin: 10px;">
    <input type="text" />
    <input type="text" />
</div> 

<table>
    <tr>
        <td>Улица</td>
        <td>Дом</td>
        <td>Квартира</td>
        <td>Показания счётчика</td>
    </tr>
@{
        foreach (AppartmentsViewData appartment in Model)
{
    <tr>
        <td>@appartment.Address.Street</td>
        <td>@appartment.Address.House</td>
        <td>@appartment.Address.ApartmentNumber</td>
        <td>@appartment.Meter.Number</td>
    </tr>      
}
}
</table>